* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;

}

body {
  background-color: #f3f7f7;
}

$steal: #1db0a9;
$blueish: #00528a;
$heading-font-size: 28px;
$small-font-size: 12px;
$medium-font-size: 13px;

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;


  .side-menu {
    ul {
      list-style: none;
      font-weight: 600;

      li {
        margin-bottom: 10px;
      }


      .first {
        color: $steal;
      }


    }
  }

  .content-container {
    width: 900px;


    .heading {
      display: flex;
      align-items: center;
      margin-bottom: 10px;



      h1 {
        font-size: $heading-font-size;
        font-weight: 600;
      }

      p {
        font-size: $heading-font-size;
        font-weight: 100;

      }
    }

    .sub-heading {
      margin-bottom: 20px;
    }

    .table-container {


      table {
        border-collapse: separate;
        border-spacing: 0;
        border-radius: 6px;
        width: 100%;

        background-color: #fff;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);


        tr:nth-of-child(2n) {
          background-color: #1db0a923;
        }


        tr th,
        tr td {
          border-right: 1px solid #1db0a923;
          // border-bottom: 1px solid #1db0a923;
          padding: 5px;

        }



        tr th:first-child,
        tr td:first-child {
          border-left: 1px solid #1db0a923;
        }

        tr th {
          border-top: 1px solid #1db0a923;
          text-align: left;
        }



        /* top-left border-radius */
        tr:first-child th:first-child {
          border-top-left-radius: 6px;
        }

        /* top-right border-radius */
        tr:first-child th:last-child {
          border-top-right-radius: 6px;
        }

        /* bottom-left border-radius */
        tr:last-child td:first-child {
          border-bottom-left-radius: 6px;
        }

        /* bottom-right border-radius */
        tr:last-child td:last-child {
          border-bottom-right-radius: 6px;
        }

        // tr :last-child {
        //   border-bottom: 1px solid #1db0a923;

        // }

        // test
        tr:nth-child(even) {
          background-color: #f2f2f2;
        }


        tr {

          .data {
            width: 5%;
            font-weight: 100;
            vertical-align: top;

            p {
              font-size: $small-font-size;
              font-weight: 100;
              margin-left: 10px;
              font-style: italic;
              color: rgba(58, 58, 58, 0.655);
            }
          }


          .parameter-data {
            width: 10%;
            font-weight: 600;
            vertical-align: top;

            .parameter-content {
              display: grid;
              justify-content: center;

              h1 {
                color: $blueish;
                font-size: $medium-font-size;
                padding-bottom: 10px;
              }

              p {
                font-size: $small-font-size;
                font-weight: 100;
                color: rgba(128, 128, 128, 0.711);
              }
            }
          }

          .desc-data {
            width: 50%;
            font-weight: 100;

            .row1,
            .row2,
            .row3,
            .row4 {
              padding: 10px 10px 10px 0px;
              border-bottom: 1px solid #1db0a923;

              .blueish {
                color: $blueish;
              }

              .blackish {
                color: black;
              }

              .stealish {
                color: $steal;
              }

              h1 {
                padding-bottom: 10px;
              }

              p {
                color: $blueish;
              }
            }

            .row1 {
              padding-top: 0;

              p,
              h1 {
                display: inline-block;
              }



              ul {
                margin-left: 30px;
                width: 80%;
              }
            }

            .border-none {
              border-bottom: none;
            }

            .row4 {
              border-bottom: none;

              a {
                color: $steal;
                text-decoration: none;

              }
            }



          }
        }
      }
    }

  }
}

.drop-down-menu {
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;

    .dropbtn {
      padding: 10px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      display: flex;

      img {
        width: 10px;
        margin-left: 5px;
      }
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 170px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      border: 1px solid #1db0a923;
      border-radius: 6px;

      a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;

        &:hover {
          color: $steal;
          background-color: #def3f2;
        }
      }
    }

    &:hover .dropdown-content {
      display: block;
    }
  }
}

@media screen and (max-width: 1240px) {
  .wrapper {
    grid-template-columns: 1fr;
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    position: relative;
  }

  .side-menu {
    position: relative;
    right: 45%;
  }

  .content-container {
    width: 100%;

    .heading {
      margin-top: 0;

      h1 {
        font-size: $medium-font-size;
      }
    }
  }

  .drop-down-menu {
    position: absolute;
    top: 1%;
    right: 3%;


    .dropdown {
      .dropdown-content {
        min-width: 100px;
      }
    }


  }
}

@media screen and (max-width: 900px) {
  .wrapper {

    .content-container {
      width: 100%;

      .heading {
        margin-top: 10px;

        h1,
        p {
          font-size: 25px;
        }
      }

    }

  }
}

@media screen and (max-width: 700px) {
  .wrapper {

    .content-container {
      .heading {

        h1,
        p {
          font-size: 18px;
        }
      }

      .sub-heading {
        font-size: 14px;
      }

    }
  }
}

@media screen and (max-width: 500px) {
  .wrapper {

    .content-container {
      width: 100%;

      overflow-x: auto;

      .table-container {
        width: 100%;
        overflow-x: scroll;
      }



      .heading {

        h1,
        p {
          font-size: 12px;
        }
      }

      .sub-heading {
        font-size: 10px;
      }

      .table-container {
        overflow-x: scroll;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .wrapper {

    .content-container {

      .heading {

        h1,
        p {
          font-size: 10px;
        }
      }

      .sub-heading {
        font-size: 9px;
      }
    }

    .side-menu {
      right: 40%;
    }

  }
}